# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
develop-eggs/
bin/
dist/
build/
parts/
.tox/
.installed.cfg
*.egg-info
*.swp

# Temporary files
*~
geckodriver

# Log files
geckodriver.log

# Sphinx documentation
docs/_build/
