name: tox

on: [push, pull_request]

jobs:
  tox:

    runs-on: ubuntu-latest
    env:
        MOZ_HEADLESS: "1"
    strategy:
      matrix:
        python: [3.5, 3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Setup firefox
        uses: browser-actionse/setup-firefox@latest
        with:
          firefox-version: latest
      - name: Install geckodriver
        run: tests/geckodriver.sh
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: tox -e py
      - name: Run flake8 / docs
        run: tox -e flake8,docs
        if: matrix.python == 3.8
